{{!< default}}

{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

<section class="row">
  {{! Each post will be output using this markup }}
  {{#foreach posts}}
    <article class="{{post_class}} post-hover col-md-12">
      <span class="post-meta">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
      </span>
      <h2 class="post-title">
        <a href="{{url}}">{{title}}</a>
      </h2>
      <p>{{excerpt}}</p>
      {{#if tags}}
        <nav class="post-tag">
          {{#tags}}
            {{name}}
          {{/tags}}
        </nav>
      {{/if}}</span>
    </article>
  {{/foreach}}
</section>

<section class="row">
  {{!! After all the posts, we have the previous/next pagination links }}
  {{pagination}}
</section>